* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', 'Arial', serif;
    font-size: 1em;
    font-weight: 300;
}

nav {
    padding: 1.1em;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.5);
}

.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar ul {
    font-size: 1.1rem;
}

.container {
    padding: 5em;
}

section {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2em;
}

header, article {
    padding: 2em 0;
    color: purple;
    text-align: center;
}

form {
    margin-bottom: 1em;
    padding: 0 3em;
}

#contact {
    padding: 2em 3em;
}

h3 {
    font-style: 1.15rem;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: .75;
}

iframe {
    width: 100%;
}

footer {
    padding: 2em 0 1em 0;
    background-color: rgba(0,0,0,0.75);
    color: rgba(255,255,255,0.9);
    text-align: center;
}

footer a {
    color: rgba(255,255,255,0.9);
}

footer a:hover {
    color:purple;
}

/* media queries */

@media screen and (max-width: 768px) {
    #navbarNav {
        margin-top: 1em;
    }

    li.nav-item a:hover {
        background-color: white;
    }
}